.contenedor-formularioenviar{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}

.cuerpo-formularioenviar{
    background: white;
    font-family: 'Roboto', sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50vw;
    height: auto;
    box-shadow: 0 5px 18px rgba(109,70,51,.2);
}
.cuerpo-formularioenviar label{
    padding: 5px;
}